results-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="work" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <!-- Get the title from
                            tei:TEI/tei:teiHeader/tei:fileDesc/tei:titleStmt/tei:title-->
                            <xs:element name="title" type="xs:string" minOccurs="1"></xs:element>
                            <!-- Get the title from
                            tei:TEI/tei:teiHeader/tei:fileDesc/tei:titleStmt/tei:author-->
                            <xs:element name="author" type="xs:string" minOccurs="1"></xs:element>
                            <xs:element name="path" type="xs:string" minOccurs="1"/>
                            <xs:element name="content" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType mixed="true">
                                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"></xs:any>
                                    </xs:sequence>
                                    <xs:attribute name="type" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="plaintext"></xs:enumeration>
                                                <xs:enumeration value="postagged"></xs:enumeration>
												<xs:enumeration value="pages"></xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="pages" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute ref="reviewed" use="required"/>
                        <xs:attribute name="timestamp" type="xs:dateTime"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:anyAttribute/>
        </xs:complexType>
    </xs:element>

    <xs:attribute name="reviewed">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="PASS"/>
                <xs:enumeration value="FAIL"/>
                <xs:enumeration value="UNREVIEWED"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>

</xs:schema>